<div class="container">
    <div class="row">
        <div class="one-third column">{{widget_footleft}}</div>
        <div class="two-thirds column">{{widget_footright}}</div>
    </div>
    <div class="row">
        <div class="twelve columns">Copyright {{"now"|date('Y')}} {{site.title}}</div>
    </div>
</div>
